/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_v3.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&kscan0 {
	col-gpios
		= <&pro_micro 21 GPIO_ACTIVE_HIGH>
		, <&pro_micro 20 GPIO_ACTIVE_HIGH>
		, <&pro_micro 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
		, <&pro_micro 14 GPIO_ACTIVE_HIGH>
		;
};

/* Give EXT_POWER time before OLED/RGB on VCC come up */
&{/EXT_POWER} {
	init-delay-ms = <200>;
};

/*
 * Trackball on central (events from right).
 * Mouse (DEF): XY swapped, speed ×3 (mul/div).
 * Scroll (RAI / layer 2): no swap, slowed ×1/4 then mapped to wheel.
 * Tune: docs/05-trackball.md
 */
&trackball_listener {
	status = "okay";
	input-processors
		= <&zip_xy_transform INPUT_TRANSFORM_XY_SWAP>
		, <&zip_xy_scaler 3 1>
		;

	scroll {
		layers = <2>;
		input-processors
			= <&zip_xy_scaler 1 4>
			, <&zip_xy_to_scroll_mapper>
			;
	};
};
